* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
nav {
	position: relative;
	height: 80px;
}
ul{
	position: relative;
	position: sticky;
	padding: 0px 50px;
	display: inline-block;
	top: 10px;
	width: 100%;
}
#logo{
	padding: 10px;
}
nav .nav, nav .nav-logo, nav .right-nav{
	margin: 0.5rem;
	display: inline;
	font-weight: bolder;
}
div {
	display: inline-block;
	float: right;
}
.nav > .tuitt-button{
	color: white;
	font-weight: bold;
	background-color:  #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: .5rem;
}
#bg-image {
	min-height: 60vh;
	background-image: url( https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
}
.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 60vh;
	opacity: 120%;
}
.container{
	color: white;
	float: right;
	display: inline-block;
	width: 45%;
	padding-right: 5%;
}
#bg-image .title, .intro > .title-2, .pre-footer > .title-2{
	font-family: 'Zilla Slab', serif;
}
.title{
	font-size: 36px;
	text-align: right;
	padding-bottom: 5%;
}
.subtitle{
	font-size: 20px;
	width: 80%;
	float: right;
	text-align: right;
	padding-bottom: 5%;
}
.apply-button{
	color: white;
	font-weight: bold;
	background-color:  #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: .5rem;
	float: right;
	width: 30%;
}
.intro{
	text-align: center;
}
.title-2{
	padding: 40px 50px 30px;
}
.intro-description{
	padding: 10px 200px;
}
.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	min-height: 33vh;
}
.prefooter-description{
	padding: 5px 230px 15px;
}
.book-button{
	background-color: #336589;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 25px;
	padding: .75rem;
	width: 15%;
}
footer{
	text-align: center;
}

